svg {
  border: 1px solid grey;
}

.axis-label {
  font-size: 20px;
  text-anchor: middle;
}

.y.axis-label {
  transform: rotate(-90deg)
}
.x.axis text{
  font-weight: bold;
  text-anchor: end;
  transform: rotate(-40deg);
}
.tick line{
  stroke: lightgrey;
}
.transactions table tr th{
  text-align: center;
}
.transactions table tr td{
  text-align: right;
}
.controls input{
  border-radius: 4px;
  width: 50%;
}
.Close{
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.sma1,.sma2,.sma3{
  fill: none;
  stroke-width: 2px;
}
#date-range svg{
  width: 800px;
  height: 100px;
}
#fromDate{
  text-anchor:start;
  font-size: small;
}
#toDate{
  text-anchor:end;
  font-size: small;
}

#slider .tick text{
  text-anchor: end;
  transform: rotate(-40deg);
}
.controls text{
  font-weight: lighter;
  font-size: small;
  transform: translate(30px,-5px);
}
